@{
    ViewBag.Title = "Search";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<form action="Search" method="post">
    <input type="text" name="UserInput" />
</form>

<p>Please type the movie you'd like to search for above.</p>
