@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Our Amazing Movie Search</h1>
    <p class="lead">This is our amazing movie search project it doesn't do a whole hell of a lot but we overcame soooooo many issues and we are proud of the the work we did. <h1>If you have a problem, we can talk Bro!!!.</h1></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


